<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link href="./public/css/global/normalize.css" type="text/css" rel="stylesheet">-->
    <!--<link href="./public/css/global/typography.css" type="text/css" rel="stylesheet">-->
    <!--<link href="/public/css/global/buttons.css" type="text/css" rel="stylesheet">-->
    <!--<link href="/public/css/global/grid.css" type="text/css" rel="stylesheet">-->
    <link href="./public/main.css" type="text/css" rel="stylesheet">
</head>
<body>
<div id="root" />
<script type="text/javascript" src="http://localhost:9090/webpack-dev-server/static/dist/bundle.js"></script>
</body>
</html>