<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link href="/public/css/global/normalize.css" type="text/css" rel="stylesheet">-->
    <!--<link href="/public/css/global/typography.css" type="text/css" rel="stylesheet">-->
    <!--<link href="/public/css/global/buttons.css" type="text/css" rel="stylesheet">-->
    <link href="/public/css/app.css" type="text/css" rel="stylesheet">
    <link href="/public/main.css" type="text/css" rel="stylesheet">
</head>
<body>
<div id="root" style="height: 100%">
    <div>
        <%- __html__ %>
    </div>
</div>
<script>
    window.__INITIAL_STATE__ = <%- __state__ %>;
</script>
<!--<script type="text/javascript" src="/public/bundle.js"></script>-->
<script type="text/javascript" src="http://127.0.0.1:9090/static/dist/bundle.js"></script>
</body>
</html>